<section id="main-content">
	<section class="wrapper">
		<header class="d-flex mb-3 pt-5 justify-content-between">
			<h2>Thêm Sản Phẩm</h2>
		</header>

		<div class="col-md-7">
			<div class="p-3 p-lg-5 border">
				<div class="form-group row">
					<div class="col-md-12">
						<label  class="text-black" >Hình Ảnh <span class="text-danger" >*</span></label>
						<input type="text" id="hinhanh" class="form-control" [src]="product.Images" [(ngModel)]="product.Images" placeholder="Gắn link ảnh của bạn vào đây!">
                  </div>
					</div>
					<div class="form-group row">
						<div class="col-md-12">
							<label  class="text-black" >Tên Sản Phẩm <span class="text-danger">*</span></label>
							<input type="text" id="TenSP" class="form-control" [(ngModel)]="product.Name" placeholder="">
                  </div>
						</div>
						<div class="form-group row">
							<div class="col-md-12">
								<label  class="text-black" >Giá Sản Phẩm <span class="text-danger">*</span></label>
								<input type="text" id="GiaSP" class="form-control" [(ngModel)]="product.Price" placeholder="">
                  </div>
							</div>
							<div class="form-group row">
								<div class="col-md-12">
									<label for="c_message" class="text-black" >Thông Tin Sản Phẩm</label>
									<textarea name="text" id="Thongtin" cols="30" rows="7" class="form-control" [(ngModel)]="product.Desc"></textarea>
								</div>
							</div>


							<div class="form-group row">
								<div class="col-lg-12">
									<input type="button" class="btn btn-primary btn-lg btn-block" (click)="addProduct()" value="Thêm Mới Sản Phẩm">
                  </div>
								</div>
							</div>
						</div>
	</section>
</section>
<script>
  function validate(){
    var anh = document.getElementById("hinhanh").value;
      if(anh == ""){
        alert("Mời bạn hãy gắn link ảnh của Sản Phẩm");
        return false;
      }
    var ten = document.getElementById("TenSP").value;
      if(ten == ""){
        alert("Mời bạn hãy nhập tên của Sản Phẩm");
        return false;
      }
    var gia = document.getElementById("GiaSP").value;
      if(gia == "" || isNaN(gia) == true){
        alert("Mời bạn hãy nhập giá của Sản Phẩm và Giá Sản Phẩm phải ở dạng số");
        return false;
      }
    var thongtin = document.getElementById("Thongtin").value;
      if(thongtin == ""){
        alert("Mời bạn hãy nhập giá của Sản Phẩm");
        return false;
      }
    else{
      return true;
    }
  }
</script>