<div class="site-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img class=" " [src]="product.Images" alt="">
          </div>
				<div class="col-md-6" *ngIf="product">
					<h2 class="text-black">{{product.Name}}</h2>
          <p>{{product.Desc}}</p>

					<p><strong class="text-primary h4">{{product.Price}}$</strong></p>

					<div class="filter-widget">
						<div class="fw-size-choose">
							<div class="sc-item">
								<input type="radio" id="37-size">
								<label for="xs-size">37</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="38-size">
								<label for="s-size">38</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="39-size">
								<label for="m-size">39</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="40-size">
								<label for="l-size">40</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="41-size">
								<label for="xs-size">41</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="42-size">
								<label for="s-size">42</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="43-size">
								<label for="m-size">43</label>
							</div>
							<div class="sc-item">
								<input type="radio" id="44-size">
								<label for="l-size">44</label>
							</div>
						</div>
					</div>
					<!-- <div class="mb-5">
              <div class="input-group mb-3" style="max-width: 120px;">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-primary js-btn-minus" type="button">&minus</button>
                </div>
                <input type="text" class="form-control text-center" value="1" placeholder=""
                  aria-label="Example text with button addon" aria-describedby="button-addon1">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary js-btn-plus" type="button">&plus</button>
                </div>
              </div>

            </div> -->
					<a href="cart.html" class="buy-now btn btn-sm btn-primary">Add To Cart</a>
					<!-- <a href="cart.html" class="buy-now btn btn-sm btn-primary">By Now</a> -->

				</div>

			</div>

		</div>
	</div>