<div class="sub-agile">
	<div class="row">
		<!-- <div class="col-md-4 col-sm-4 col-4 agile1">
			
			<div>
				<p>
					<button id="trigger-overlay" type="button">
						<i class="fas fa-bars"></i>

					</button>
				</p>
			</div>
	
			<div class="overlay overlay-door">

				<button type="button" class="overlay-close">Close</button>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="achievements.html">Our Achievements</a></li>
						<li><a href="typography.html">Typography</a></li>
						<li><a href="error.html">Error</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>

		</div> -->
		<div class="col-md-4 col-sm-4 col-4 log-lt">
			<a href="index.html">

				<h1>LapStore</h1>

			</a>
		</div>
		<div class="header-top">
			<div class="container">
				<div class="ht-left">
					<div class="mail-service">
						<i class=" fas fa-envelope"></i>
						Ngoquanglap0612@gmail.com
					</div>
					<div class="phone-service">
						<i class=" fa fa-phone"></i>
						0388 888 888
					</div>
				</div>
				<div class="ht-right">
					<a href="#" class="login-panel"><i class="fa fa-user"></i>Login</a>
					<div class="top-social">
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-twitter-square"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
						<a href="#"><i class="fab fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			
		</div>		
	</div>
	<div class="container">
		<div class="inner-header">
			<div class="row">
				
				<div class="col-lg-8 col-md-8">
					<div class="advanced-search">
						<form class="input-group">
							<input type="text" placeholder="What do you need?">
							<button type="button"><i class="fas fa-search"></i></button>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>



<!-- banner -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block "
				src="https://cafefcdn.com/thumb_w/650/Images/Uploaded/Share/40286d7b2e4618f9b6b557f6eb959bb7/2014/06/08/20140607LDP0010.jpg">
			<div class="carousel-caption  d-md-block">
				<h5>Concentrate On Rugby and Live In Moment</h5>
				<a href="#">Read More</a>
			</div>
		</div>

	</div>
</div>
<!-- //banner -->


<header class="header-section">
	<div class="nav-item">
		<div class="container">
			<nav class="nav-menu mobile-menu">
				<ul>
					<li><a routerLink="/home">Home</a></li>
					<li><a routerLink="/home">Shop</a></li>
					<li><a routerLink="/admin"a>Admin</a></li>
					<li><a href="./blog.html">Blog</a></li>
					<li><a routerLink="/contact">Contact</a></li>
					<li><a href="#">Pages</a>
					</li>
				</ul>
			</nav>
			<div id="mobile-menu-wrap"></div>
		</div>
	</div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumb-text">
					<a href="#"><i class="fa fa-home"></i> Home</a>
					<span>Contact</span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Breadcrumb Section Begin -->

<section class="contact  py-lg-5 py-md-4 py-md-3 py-2" id="contact">
    <h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Contact US</h3>
    <!-- contact -->
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"
        allowfullscreen></iframe>

</section>

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-3 text-black">Get In Touch</h2>
        </div>
        <div class="col-md-7">

          <form action="#" method="post">
            
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">First Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname">
                </div>
                <div class="col-md-6">
                  <label for="c_lname" class="text-black">Last Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="c_email" name="c_email" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-black">Subject </label>
                  <input type="text" class="form-control" id="c_subject" name="c_subject">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_message" class="text-black">Message </label>
                  <textarea name="c_message" id="c_message" cols="30" rows="7" class="form-control"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Message">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 ml-auto">
          <div class="p-4 border mb-3">
            <span class="d-block text-primary h6 text-uppercase">New York</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
          <div class="p-4 border mb-3">
            <span class="d-block text-primary h6 text-uppercase">London</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>
          <div class="p-4 border mb-3">
            <span class="d-block text-primary h6 text-uppercase">Canada</span>
            <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
          </div>

        </div>
      </div>
    </div>
  </div>



<div class="bannerbottom py-lg-5 py-md-4 py-sm-3 py-2 ">
	<div class="w3_bannerb py-lg-5 py-md-4 py-sm-3 py-2">
		<!-- <div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 w3_banl">
					<h2>Playful</h2>
					<h3 class="my-lg-4 my-md-3 my-sm-2 my-2">Rugby Is A Good Occasion For Keeping 30 Bullies</h3>
					<p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
					<h4 class="my-lg-4 my-md-3 my-sm-2 my-2"> Rugby Starts In Few Days Dont Miss Action</h4>
				</div>
				<div class="col-md-4 col-sm-4 w3_banr">
					<div class="col-md-6 col-sm-6 w3l_banrr text-white">
						<h4>Playful</h4>
						<h3 class="my-lg-4 my-md-3 my-sm-2 my-2">Rugby Occasion</h3>
						<P>Lorem Ipsum</p>
					</div>
					<div class="col-md-6 col-sm-6 w3l_banrrh text-white">
						<h4>Playful</h4>
						<h3 class="my-lg-4 my-md-3 my-sm-2 my-2">Rugby Occasion</h3>
						<P>Lorem Ipsum</p>
					</div>
				</div>
			</div>
		</div> -->
		<div class="w3_sc ">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-sm-8 w3_sdf">
						<h3>Rugby Festival</h3>
						<p class="py-lg-4 py-md-3 py-sm-2 py-2">Lorem Ipsum is simply dummy text of the printing and
							typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
							1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<div class="row">
							<div class="col-md-6 col-sm-6 w3_fgh">
								<div class="row">
									<div class="col-md-2 col-sm-2 wthree">
										<i class="fab fa-accusoft"></i>
									</div>
									<div class="col-md-10 col-sm-10 wthree">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 w3_fgh">
								<div class="row">
									<div class="col-md-2 col-sm-2 wthree">
										<i class="fab fa-adn"></i>
									</div>
									<div class="col-md-10 col-sm-10 wthree">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 w3_fgh">
								<div class="row">
									<div class="col-md-2 col-sm-2 wthree">
										<i class="fas fa-angle-double-right"></i>
									</div>
									<div class="col-md-10 col-sm-10 wthree">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 w3_fgh">
								<div class="row">
									<div class="col-md-2 col-sm-2 wthree">
										<i class="fas fa-align-justify"></i>
									</div>
									<div class="col-md-10 col-sm-10 wthree">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
										</p>
									</div>
								</div>
							</div>
						</div>
						<a href="#">Read More</a>
					</div>
					<div class="col-md-4 col-sm-4 w3_sdr">
						<img src="https://i.pinimg.com/originals/55/c5/35/55c53597423533a0697008e5a415c172.jpg" alt=""
							class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="w3_wht py-lg-5 py-md-4 py-sm-3 py-3">
	<div class="w3l_wht1 py-lg-5 py-md-4 py-sm-3 py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 w3_adf">
					<h3>Who We Are And What We Do</h3>
					<div class="stats">
						<div class="container">
							<div class="stats-info">
								<div class="row">
									<div class="col-md-3 col-sm-3 stats-grid slideanim">
										<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0'
											data-max='50' data-delay='.5' data-increment="1">50</div>
										<p class="stats-info">years of experience</p>
									</div>
									<div class="col-md-3 col-sm-3 stats-grid slideanim">
										<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0'
											data-max='30' data-delay='.5' data-increment="1">30</div>
										<p class="stats-info">qualified instructors</p>
									</div>
									<div class="col-md-3 col-sm-3 stats-grid slideanim">
										<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0'
											data-max='100' data-delay='.5' data-increment="1">100</div>
										<p class="stats-info">Rugby courts</p>
									</div>
									<div class="col-md-3 col-sm-3 stats-grid slideanim">
										<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0'
											data-max='150' data-delay='.5' data-increment="1">169</div>
										<p class="stats-info">annual competitions</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4 col-sm-4 w3_adf">
					<img src="https://file.hstatic.net/1000061481/file/nike_future_lab_ii___3__cb3c681c4b654bbe8e768e65d7041890.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Footer Section Begin -->
<footer class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="footer-left">
					<h2>LapStore</h2>
					<ul>
						<li>Address: Ngô Đạo - Tân Hưng - Sóc Sơn - Hà Nội - Việt Nam</li>
						<li>Phone: 0388 888 888</li>
						<li>Email: Ngoquanglap0612@gmail.com</li>
					</ul>
					<div class="footer-social">
						<a href="#"><i class="fab fa-facebook-square"></i></a>
						<a href="#"><i class="fab fa-twitter-square"></i></a>
						<a href="#"><i class="fab fa-linkedin"></i></a>
						<a href="#"><i class="fab fa-pinterest"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-2 offset-lg-1">
				<div class="footer-widget">
					<h5>Information</h5>
					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Checkout</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Serivius</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2">
				<div class="footer-widget">
					<h5>My Account</h5>
					<ul>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Shopping Cart</a></li>
						<li><a href="#">Shop</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="newslatter-item">
					<h5>Join Our Newsletter Now</h5>
					<p>Get E-mail updates about our latest shop and special offers.</p>
					<form action="#" class="subscribe-form">
						<input type="text" placeholder="Enter Your Mail">
						<button type="button">Subscribe</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-reserved">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="copyright-text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>
							document.write(new Date().getFullYear());
						</script> All rights reserved | This
						template is made with <i class="far fa-heart" aria-hidden="true"></i> by <a
							href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
					<div class="payment-pic">
						<img src="https://theme.hstatic.net/1000061481/1000548660/14/logo_foot_1.png?v=89" alt=""
							width="100">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer Section End -->